* {
    margin:0;
    padding:0;
}
body {
    background-image: url(VlMn.gif);
    color:white;
    background-size: contain;
    text-align:center;
    height: 100%;
    background-attachment: fixed;
}
h1 {
    font-size:3rem;
}
nav {
    background: rgba(16, 1, 87, 1);
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding:2rem;
}
nav h1 {
    font-size:4rem;
    margin: 0 5em 0 3em;
}
nav a{
    text-decoration: none;
    color:white;
    font-size:2rem;
    margin:auto;
}
nav a:hover {
    color:yellow;
    text-decoration: underline;
}
div.site-container {
    width:80vw;
    padding:1rem;
    background: rgba(34, 7, 86, 0.9);
    border: black dotted 5px;
    margin:auto;
    margin-top:2rem;
    margin-bottom:2rem;
    display:flex;
    flex-wrap:wrap;
}
div.content {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}